

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh;
    background-color: #000;
    color: #fff;
    margin: 0;
}
.container {
    max-width: 400px;
    padding: 20px;
    background-color: #333;
    border-radius: 10px;
    text-align: center;
}
.conteudo {
    margin-top: 20px;
}
.input-group-text {
    background-color: #444;
    color: #fff;
}
.form-control {
    background-color: #fff;
    border-color: #fff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #555;
    border:none;
}
